/* .totalproject{

    position: fixed;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
/* *{
font-style: ;
} */
body{
    /* for font used this */
    font-family: 'Inter', sans-serif;
}

.heading1{
    
    color: white;
    border: 1px solid white;
    width: 1440px;
    position: relative;
    top: 10px;padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: inline-block;
    /* bor */
}
.left2{

    color: white;
    height: 220px;width: 280px;
    border-radius: 10px;
    position: relative;
    border: 1px white solid;
    margin-bottom: 30px;
    
}
.name{
  position: relative;  
  left: 90px; font-size: 18px;
}
.pic{
   position: relative;top: 15px;
   left: 60px;margin-bottom: 20px;
}

.left3{

    color: white;
    width: 280px;
    border: 1px solid white;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.left4{
    color: white;
    width: 280px;
    height: 260px;
    border: 1px solid white;
    position: relative;
    border-radius: 10px;
}

.innerbox{
    color: white;
    padding: 25px;
}

#email{
    color: aliceblue;
}

.rightheading{
 border: 1px solid white;
 height:794px ; width: 1190px;
 position: absolute;
 right: 12px;
 top: 99px;
 border-radius: 10px;
}

.righth{

    position: absolute;
    color: white;
    top: 140px;
    left: 390px;
    width: 500px;
}

.table{

    position: absolute;
    width: 1100px;
    height: 650px;
    color: white;
    border: 1px white solid;
    left: 370px;
    top: 240px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
  }
  
  tr, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    
  }
  
